
html,body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
}
.container{
    display: flex;
    flex-direction:column;
    width: 500px;
}

input[type="text"]{
    margin-bottom: 20px;
}

button {
    width: 80px;
    height: 20px;
    margin-bottom: 20px;
}
.mab{
    width: 110px;
    height: 20px;
    margin:0;
}
table td{
    padding: 5px;
}
.strikethrough{
 text-decoration: line-through;
}